.footer{
    width: 100%;
    padding: 20px 40px;

    background: var(--color-white);

    flex-wrap: wrap;
        
    gap: 20px;

    overflow: hidden;
}

.footer__logo{
    
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--playfair-display);

    color: var(--secondary-color);

    cursor: pointer;
}

.footer__logo span{
    color: var(--primary-color);
}

.footer ul{
    gap: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
}

.footer__nav li{
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    
    color: var(--secondary-color);

    cursor: pointer;
}

.footer ul:last-child{
    gap: 32px;
}


.footer__social li{
    background: var(--secondary-color);
    border-radius: 100%;

    width: 42px;
    height: 42px;

    cursor: pointer;
}

.footer__social li img{
    width: 45%;
    height: 45%;
    object-fit: contain;
}